<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hanjia.mapper.EquipmentMapper">

    <sql id="formatReturn">
        select ei.*, ei.suit_id as suitId, ei.constant_entry as constantEntry, ei.float_entry as floatEntry
        from equipment_info ei
    </sql>

    <select id="getEquipmentByName" resultType="com.hanjia.entity.Equipment">
        <include refid="formatReturn"/>
        where ei.name=#{name}
    </select>

    <select id="getAllEquipments" resultType="com.hanjia.entity.Equipment">
        <include refid="formatReturn"/>
    </select>

    <select id="getSuitByName" resultType="com.hanjia.entity.Suit">
        select si.*
        from suit_info si, equipment_info ei
        where ei.suit_id=si.id and ei.name=#{name}
    </select>

    <update id="update" parameterType="com.hanjia.entity.Equipment">
        update equipment_info
        <set>
            <if test="name != null and name != '' ">
                name=#{name},
            </if>
            <if test="entry > 0 ">
                entry=#{entry},
            </if>
            <if test="claim != null and claim != '' ">
                claim=#{claim},
            </if>
            <if test="constantEntry != null and constantEntry != '' ">
                constant_entry=#{constantEntry},
            </if>
            <if test="floatEntry != null and floatEntry != '' ">
                float_entry=#{floatEntry},
            </if>
            <if test="scarce != null and scarce != '' ">
                scarce=#{scarce},
            </if>
            <if test="suitId != null and suitId != '' ">
                suit_id=#{suitId},
            </if>
            <if test="type != null and type != '' ">
                type=#{type},
            </if>
        </set>
        where id=#{id}
    </update>

    <insert id="add">
        insert into equipment_info values
        <foreach collection="equipments" item="equipment" separator=",">
            (#{equipment.id},#{equipment.name},#{equipment.entry},#{equipment.claim},#{equipment.constantEntry},
            #{equipment.floatEntry},#{equipment.scarce},#{equipment.suitId},#{equipment.type})
        </foreach>
    </insert>

    <delete id="delete">
        delete from equipment_info where id=#{id}
    </delete>

</mapper>